src/pug/pages/login.pug
extends ../layout/simple-layout.pug

block content
    section.auth-page
        .auth-wrapper
            ul.nav.flex
                li.active
                    ="\n"
                    a(href="login.html") Sign in
                li
                    ="\n"
                    a(href="register.html") Sign up
            |
            |
            .auth-content
                h2.block-title.text-uppercase Sign In with email
                |
                |
                form(action="#" method="POST")
                    .form-group
                        label Email Address
                        input(type="email" class="form-control" placeholder="E-mail" required)
                    |
                    |
                    .form-group
                        label Password
                        input(type="password" class="form-control" placeholder="Password" required)
                    |
                    |
                    button(class="btn-yellow submit-login") Sign In
                // Login Form
                |
                |
                ="\n"
                a(href="#" class="forgot-password") Forgot password?
                |
                |
                .auth-divider.text-center
                    ="\n"
                    span OR
                |
                |
                .auth-with-socials.flex
                    h2.block-title.text-uppercase Sign In with
                    |
                    |
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-google.svg"))
                        | Google
                    ="\n"
                    a(href="#")
                        img(src=require("../../images/icons/auth-facebook.svg"))
                        | Facebook
                // Auth With Socials
            // Auth content
    // Auth Page
    |
    |

dist/login.html
<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Palladium E-commerce</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="css/style.css" rel="stylesheet">
	</head>

	<body>

		<header class="header">
			<div class="header-top hidden-575">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 flex">
							<ul>
								<li>
									<a href="static.html">About Us</a>
								</li>
								<li>
									<a href="static.html">For Corporate Clients</a>
								</li>
								<li>
									<a href="static.html">Payment & Delivery</a>
								</li>
								<li>
									<a href="faq.html">FAQ</a>
								</li>
							</ul>

							<div class="dropdown langs">
								<a class="dropdown-toggle" href="#" role="button" id="langs" data-toggle="dropdown">EN</a>

								<div class="dropdown-menu">
									<a class="dropdown-item" href="#">AZ</a>
									<a class="dropdown-item" href="#">RU</a>
								</div>
							</div>
							<!-- Language switcher-->
						</div>
						<!-- Col-->
					</div>
				</div>
			</div>
			<!-- Header top-->

			<div class="header-bottom">
				<div class="container-fluid">
					<div class="row">
						<div class="col-12">
							<div class="logo-user flex">
								<div class="logo">
									<a href="index.html">
										<img src="images/logo.svg">
									</a>
								</div>
								<!-- Logo-->

								<div class="user">
									<ul class="flex">
										<li>
											<a class="trigger-search" href="javascript:void(0)">
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20">
													<path fill="#FFF" fill-rule="evenodd" stroke="#000" stroke-width=".2" d="M18.8 17.754a.75.75 0 0 1 .2.523.75.75 0 0 1-.2.522.75.75 0 0 1-.523.201.681.681 0 0 1-.502-.2l-4.139-4.14c-1.433 1.18-3.073 1.769-4.922 1.769-2.13 0-3.947-.754-5.454-2.26C1.753 12.662 1 10.844 1 8.714s.753-3.947 2.26-5.454C4.767 1.753 6.585 1 8.714 1c2.13 0 3.948.753 5.455 2.26 1.506 1.507 2.26 3.325 2.26 5.454 0 1.849-.59 3.49-1.768 4.922l4.138 4.118zM11.144 14.5a6.33 6.33 0 0 0 1.999-1.356 6.33 6.33 0 0 0 1.356-1.999 6.2 6.2 0 0 0 .482-2.43 6.2 6.2 0 0 0-.482-2.432 6.33 6.33 0 0 0-1.356-1.998 6.33 6.33 0 0 0-1.999-1.356 6.2 6.2 0 0 0-2.43-.483 6.2 6.2 0 0 0-2.432.483 6.33 6.33 0 0 0-1.998 1.356 6.057 6.057 0 0 0-1.336 1.998 5.985 5.985 0 0 0-.503 2.431c0 .857.168 1.668.503 2.431.308.75.753 1.416 1.336 1.999A6.33 6.33 0 0 0 6.283 14.5a6.2 6.2 0 0 0 2.431.482 6.2 6.2 0 0 0 2.431-.482z"></path>
												</svg>
											</a>
										</li>
										<li>
											<a class="active" href="wishlist.html">
												<svg xmlns="http://www.w3.org/2000/svg" width="19" height="17">
													<path fill="#fff" d="M17.214 5.169c0-2.863-1.908-3.465-3.515-3.465-1.497 0-3.184 1.641-3.707 2.273-.24.295-.743.295-.984 0-.523-.632-2.21-2.273-3.707-2.273-1.607 0-3.515.602-3.515 3.465 0 1.865 1.858 3.597 1.878 3.618L9.5 14.493l5.826-5.696c.03-.03 1.888-1.763 1.888-3.628zm1.286 0c0 2.446-2.21 4.494-2.3 4.586l-6.258 6.114a.619.619 0 0 1-.442.183.619.619 0 0 1-.442-.183L2.79 9.734C2.71 9.663.5 7.614.5 5.17.5 2.183 2.298.4 5.301.4 7.06.4 8.706 1.806 9.5 2.601 10.294 1.806 11.94.4 13.699.4 16.702.4 18.5 2.183 18.5 5.169z"></path>
												</svg>
												<span class="badge">2</span></a>
										</li>
										<li>
											<a href="cart.html">
												<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18">
													<g fill="#FFF">
														<path d="M4.18 11.281l.66-.084 12.636-1.602A.6.6 0 0 0 18 9V3a.6.6 0 0 0-.6-.6H3.927L3.59.496A.6.6 0 0 0 3 0H.6a.6.6 0 1 0 0 1.2h1.897l1.567 8.886-.034.004a1.862 1.862 0 0 0 .23 3.71H17.4a.6.6 0 1 0 0-1.2H4.26a.663.663 0 1 1-.08-1.319zM16.8 3.6v4.871L5.256 9.935 4.14 3.6H16.8z"></path>
														<path d="M6.6 14.4c.993 0 1.8.807 1.8 1.8S7.593 18 6.6 18s-1.8-.807-1.8-1.8.807-1.8 1.8-1.8zm0 1.2a.6.6 0 1 0 .001 1.201A.6.6 0 0 0 6.6 15.6z" opacity=".9"></path>
														<path d="M15 14.4c.993 0 1.8.807 1.8 1.8S15.993 18 15 18s-1.8-.807-1.8-1.8.807-1.8 1.8-1.8zm0 1.2a.6.6 0 1 0 .001 1.201A.6.6 0 0 0 15 15.6z"></path>
													</g>
												</svg>
											</a>
										</li>
										<li class="hidden-575">
											<div class="dropdown account">
												<a class="dropdown-toggle" href="#" role="button" id="account" data-toggle="dropdown">
													<svg xmlns="http://www.w3.org/2000/svg" width="17" height="20">
														<path d="M8.818 1a4.15 4.15 0 0 1 4.15 4.15c0 2.316-1.834 4.199-4.15 4.199-2.317 0-4.15-1.883-4.15-4.199A4.15 4.15 0 0 1 8.818 1zm0 1.11c-1.69 0-3.04 1.4-3.04 3.04a3.028 3.028 0 0 0 3.04 3.04 3.028 3.028 0 0 0 3.04-3.04 3.028 3.028 0 0 0-3.04-3.04zm0 8.541c4.343 0 7.866 3.62 7.77 7.915 0 .53-1.11.53-1.11 0 .047-3.716-2.896-6.805-6.66-6.805-3.764 0-6.708 3.089-6.66 6.805.048.53-1.11.53-1.11 0-.096-4.295 3.427-7.915 7.77-7.915z" fill="#FFF" stroke="#FFF" stroke-width=".3"></path>
													</svg>
													<span>Your Account</span>
												</a>

												<div class="dropdown-menu">
													<div class="menu-user">
														<div class="name-logout">
															<strong>Hi Ahmad</strong>
															<a href="#">Sign Out</a>
														</div>
														<!-- Name-->

														<ul>
															<li>
																<a href="#"><img src="images/icons/user.svg">
																	<span>My Account</span>
																</a>
															</li>
															<li>
																<a href="#"><img src="images/icons/orders.svg">
																	<span>My orders</span>
																</a>
															</li>
														</ul>
													</div>
												</div>
												<!-- Dropdown-->
											</div>
										</li>
									</ul>
								</div>
								<!-- User-->
							</div>
							<!-- (Logo / user / cart) wrapper-->
						</div>
						<!-- Col-->
					</div>
				</div>
				<!-- Container-->

				<div class="search-field">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<form action="#" method="GET">
									<div class="form-group">
										<input class="form-control" type="text" name="search" placeholder="Search" autocomplete="off">
									</div>

									<button class="close-search-field" type="button">
										<img src="images/icons/times.svg">
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Search Field-->

				<div class="search-results" class-to-show="active">
					<div class="container-fluid">
						<div class="row">
							<div class="col-12">
								<div class="inline-product flex">
									<div class="image">
										<a class="cover-center" href="product-inner.html" style="background-image: url(images/products/image0.png)"></a>
									</div>

									<div class="info">
										<a class="name" href="product-inner.html">Long Sleeve Tactical Shirt</a>
										<div class="price flex">
											<div class="current">255.00 AZN</div>
											<div class="old">210.00 AZN</div>
										</div>
									</div>
								</div>
								<!-- Product Item-->

								<div class="inline-product flex">
									<div class="image">
										<a class="cover-center" href="product-inner.html" style="background-image: url(images/products/image1.png)"></a>
									</div>

									<div class="info">
										<a class="name" href="product-inner.html">Long Sleeve Tactical Shirt</a>
										<div class="price flex">
											<div class="current">255.00 AZN</div>
											<div class="old">210.00 AZN</div>
										</div>
									</div>
								</div>
								<!-- Product Item-->

								<div class="inline-product flex">
									<div class="image">
										<a class="cover-center" href="product-inner.html" style="background-image: url(images/products/image2.png)"></a>
									</div>

									<div class="info">
										<a class="name" href="product-inner.html">Long Sleeve Tactical Shirt</a>
										<div class="price flex">
											<div class="current">255.00 AZN</div>
											<div class="old">210.00 AZN</div>
										</div>
									</div>
								</div>
								<!-- Product Item-->

								<div class="inline-product flex">
									<div class="image">
										<a class="cover-center" href="product-inner.html" style="background-image: url(images/products/image3.png)"></a>
									</div>

									<div class="info">
										<a class="name" href="product-inner.html">Long Sleeve Tactical Shirt</a>
										<div class="price flex">
											<div class="current">255.00 AZN</div>
											<div class="old">210.00 AZN</div>
										</div>
									</div>
								</div>
								<!-- Product Item-->
							</div>
						</div>
					</div>
				</div>
				<!-- Search Results-->

			</div>
			<!-- Header bottom-->
		</header>
		<!-- Header-->


		<main class="content">
			<section class="auth-page">
				<div class="auth-wrapper">
					<ul class="nav flex">
						<li class="active">
							<a href="login.html">Sign in</a>
						</li>
						<li>
							<a href="register.html">Sign up</a>
						</li>
					</ul>

					<div class="auth-content">
						<h2 class="block-title text-uppercase">Sign In with email</h2>

						<form action="#" method="POST">
							<div class="form-group">
								<label>Email Address</label>
								<input class="form-control" type="email" placeholder="E-mail" required>
							</div>

							<div class="form-group">
								<label>Password</label>
								<input class="form-control" type="password" placeholder="Password" required>
							</div>

							<button class="btn-yellow submit-login">Sign In</button>
						</form>
						<!-- Login Form-->

						<a class="forgot-password" href="#">Forgot password?</a>

						<div class="auth-divider text-center">
							<span>OR</span>
						</div>

						<div class="auth-with-socials flex">
							<h2 class="block-title text-uppercase">Sign In with</h2>

							<a href="#"><img src="images/icons/auth-google.svg">Google</a>
							<a href="#"><img src="images/icons/auth-facebook.svg">Facebook</a>
						</div>
						<!-- Auth With Socials-->
					</div>
					<!-- Auth content-->
				</div>
			</section>
			<!-- Auth Page-->

		</main>

		<script src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/common.js"></script>
	</body>

</html>
